<main>
  <ui-wizzard [wizzardSteps]="steps">
    <ng-template #wizzardStepButton let-stepWizard let-handleNextStep="handleNextStep" let-handlePreviousStep="handlePreviousStep">
      <div fxLayoutAlign="space-between" wizzardButtons>
        <div>
          <ui-button
            text="Prev"
            (buttonClick)="handlePreviousStep()"
            [disabled]="stepWizard.isFirstStep"
          ></ui-button>
        </div>
        <div fxLayoutGap="1em">
          <ui-button
            *ngIf="stepWizard.currentStepIndex === 3"
            text="Save"
            (buttonClick)="handleSave()"
          >
          </ui-button>
          <ui-button
            text="Fwd"
            (buttonClick)="handleNextStep()"
            [disabled]="stepWizard.isLastStep"
          ></ui-button>
        </div>
      </div>
    </ng-template>
  </ui-wizzard>
</main>
